.tour-header{
    background-color: rgb(113, 44, 249) !important;
    .ss-logo{
        border-radius: 50%;
    }
    .navbar-collapse{
        justify-content: end;
        .nav-link{
            color: #fff;
        }
    }
}