<div class="login-container">
    <div class="login-box-container">
        <div class="login-box">
            <div class="text-center"><img src="../../assets/images/new_ss_logo.jpg" width="40" height="40"></div>
            <div class="text-center"><h2>VACATION TRIP</h2></div>
            <div class="mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username">
                    <mat-icon matSuffix> person icon</mat-icon>
                </mat-form-field>
            </div>
            <div class="mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </div>
            <div> <button mat-flat-button class="w-100" routerLink="/home">Login</button> </div>
        </div>
    </div>
</div>
