
<div class="p-4 mt-4"> 
    <div class="person-databox">
        <form [formGroup]="personForm" (submit)="onsubmit()">
            <div class="row">           
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Person Name</mat-label>
                        <input matInput placeholder="Person name" formControlName="personname">                              
                        <!-- <mat-error *ngIf="personForm.hasError('personname') && !personForm.hasError('required')">Please enter a valid email address</mat-error> -->
                       
                    </mat-form-field>
                    <div *ngIf="personForm.get('personname')?.hasError('required') && personForm.get('personname')?.touched">                
                        <mat-error>Please enter a person name</mat-error>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" formControlName="description">
                    </mat-form-field>
                    <div *ngIf="personForm.get('description')?.hasError('required') && personForm.get('description')?.touched">                
                        <mat-error>Please enter a description</mat-error>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="Reason" formControlName="amount" type="number">
                    </mat-form-field>
                    <div *ngIf="personForm.get('amount')?.hasError('required') && personForm.get('amount')?.touched">                
                        <mat-error>Please enter a amount</mat-error>
                    </div>
                </div>              
            </div>    
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end">
                    <button mat-flat-button (click)="addperson()">Add</button>
                </div>
            </div>    
        </form>
    </div>

    <div class="person-databox-table-container mt-5">
        <div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
        </div>
        <div class="person-databox-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
               <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </div>
    </div>
</div>